{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "strict": 0,
    "max-len": [1, 80, 2, {"ignoreUrls": true}],
    "quotes": [2, "single", { "allowTemplateLiterals": true }],
    "no-unused-vars": 0
  }
}